<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="/adminpannel.css">
  <link rel="stylesheet" href="/nav.css">
</head>
<body>
  <%- include('../partials/nav',{currentPage:'admin'}) %>
  <center><h1>Welcome, <span style="color: darkblue;">Admin</span></h1></center>
 
 <div class="addclasscontainer">
  <a href="/admin/class"><div class="addclass"><i class="fa-solid fa-chalkboard-user" style="color: #01358e;"></i><br>Class Detail</div></a>
 <a href="admin/subject"><div class="addclass"><i class="fa-solid fa-book-open" style="color: #01358e;"></i><br>Subject Detail</div></a>
</div>

  <div class="head">
   <center> <h1>Entry <span style="color:darkblue;"><u>Data</u></span></h1></div><br>
    </center>
    <center>
    <table cellspacing="0px" border="1"> 
      <tr>
      <th id="thname">Class</th>
      <th>Section</th>
      <th>Subject</th>
      <th>Total Entry</th>
      
    </tr>
    
    
    <% if (entryArray && entryArray.length > 0) { %>
      <% entryArray.forEach((data) => { %>
        <tr>
          <td><%= data.studentClass %></td>
          <td><%= data.section %></td>
          <td><%= data.subject %></td>
          <td><%= data.totalentry %></td>
        </tr>
      <% }); %>
    <% } else { %>
      <tr>
        <td colspan="4">No data available</td>
      </tr>
    <% } %>
    
    
    
    </table> <br><br>
    </center>
    
    <hr><hr><br>
  
<script src="https://kit.fontawesome.com/368eb67b69.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/368eb67b69.js" crossorigin="anonymous"></script>
</body>
</html>