<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="/adminpannel.css">
  <link rel="stylesheet" href="/nav.css">
</head>
<body>
  <%- include('../partials/nav',{currentPage:'admin'}) %>
  <center><h1>Welcome, <span style="color: orange;">Admin</span></h1></center>
  
<center>
<form action="<%= editing ? `/admin/subject/${subId}` : '/admin/subject' %>" method="post">
  
  <label for="subject" >Subject:</label> 
  <input type="text" id="subject" name="subject" required placeholder="Add New Subject here" value="<%= editing? subjectedit.subject:'' %>"> <br><br>

  <button type="submit" id="subjectadd" class="addbutton"><%= editing?"Update":"Add New"%> &ensp;<i class="fa-solid fa-plus"></i></button>
  

</form>

<div class="head">
<h1>Subject <span style="color:orange;"><u>List</u></span></h1></div><br>
</center>
<center>
<table cellspacing="0px" border="1"> 
  <tr>
  <th id="thname">Name</th>
  <th id="thaction">Action</th>
</tr>


<% subjects.forEach((sub)=>{ %>


<tr>
  <td><%= sub.subject %></td>
  <td> <a href="/admin/editsub/<%=sub._id%>?editing=true" e> <button id="subjectedit">Edit</button></a> <a href="/delete/subject/<%=sub._id%>" onclick= "return confirm('Are you sure you want to delete <%=sub.subject%> subject')">Delete<i class="fa-solid fa-trash" style="color: #ff0000;"></i></a></td>
<% }) %>

</tr>


</table> <br><br>
</center>

<hr><hr><br>

<center>
  <div class="head">
    <h1>Class <span style="color:darkblue;"><u>Information</u></span></h1></div>
  <form action="/admin/class" method="POST">
  <label for="class">Class:</label>
    <input type="text" id="class" name="studentClass" required placeholder="Add New Class"><br><br>
  
    <label for="section">Section:</label>
    <input type="text" id="section" name="section" required placeholder="Add New Section"><br><br>
    <button type="submit" class="addbutton">Add New</button>
  
  </form>
  <table cellspacing="0px" border="1"> 
    <tr>
    <th>Class</th>
    <th>Section</th>
    <th>Action</th>
  </tr>
  <tr>
    <% studentClasslist.forEach((studentclass)=>{ %>
  
  
  <td><%= studentclass.studentClass %> </td>
  <td><%= studentclass.section %></td>
<td><button id="classedit">Edit</button> <a href="/delete/class/<%=studentclass._id%>" onclick= "return confirm('Are you sure you want to delete class <%=studentclass.studentClass%> <%=studentclass.section%> ')">Delete<i class="fa-solid fa-trash" style="color: #ff0000;"></i></a></td>
  </tr>
  <% }) %>
  </table>
  
  </center>





<script src="https://kit.fontawesome.com/368eb67b69.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/368eb67b69.js" crossorigin="anonymous"></script>
</body>
</html>