<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="/adminpannel.css">
  <link rel="stylesheet" href="/nav.css">
</head>
<body>
  <%- include('../partials/nav',{currentPage:'admin'}) %>
  <center><h1>Welcome, <span style="color: darkblue;">Admin</span></h1></center>
  
<center>
<form action="<%= editing ? `/admin/subjectadd/${subId}` : '/admin/subjectadd' %>" method="post">
  
  <label for="subject" >Subject:</label> 
  <input type="text" id="subject" name="subject" required placeholder="Add New Subject here" value="<%= editing? subjectedit.subject:'' %>"> <br><br>
Max Question:<input type="number" name="max" placeholder="Enter Maximum Number of Question" required value="<%= editing? subjectedit.max:'' %>">  <br>
<% for(let i = 1;i<=25;i++){ %>
  
  Sub.Q.in.<%=i%>:<input type="number" name="<%=i%>" id="totalsubin<%=i%>" placeholder="Total Question in Q.No<%=i%>" value="<%= editing? subjectedit[i]:'' %>"> <br>
<%}%> <br> <br>


  <button type="submit" id="subjectadd" class="addbutton"><%= editing?"Update":"Add New"%> &ensp;<i class="fa-solid fa-plus"></i></button>
  

</form>

<div class="head">
<h1>Subject <span style="color:darkblue;"><u>List</u></span></h1></div><br>
</center>
<center>
<table cellspacing="0px" border="1"> 
  <% 
  // Collect all unique keys from the array
  const allKeys = [...new Set(subjects.flatMap(Object.keys))].filter(key => key !== "__v" && key !== "_id"); 
  %>
  
  <tr>
    <% allKeys.forEach((key) => { %>
      <th id="thname"><%= key %></th>
    <% }); %>
    <th id="thaction">Action</th>
  </tr>
  


    <% subjects.forEach((sub) => { %>
      <tr>
        <% allKeys.forEach((key) => { %>
          <td><%= sub[key] %></td> <!-- Access the value of each key in the document -->
        <% }); %>
        <td>
          <a href="/admin/editsub/<%= sub._id %>?editing=true">
            <button id="subjectedit">Edit</button>
          </a>
          <a 
            href="/delete/subject/<%= sub._id %>/<%= sub.subject %>" 
            onclick="return confirm('Are you sure you want to delete <%= sub.subject %> subject')" 
            class="deletebtn"
          >
            Delete <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
          </a>
        </td>
      </tr>
    <% }); %>
 
</table> <br><br>
</center>

<hr><hr><br>


  
<script src="https://kit.fontawesome.com/368eb67b69.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/368eb67b69.js" crossorigin="anonymous"></script>
</body>
</html>