<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassPerformance</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
  	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
	
  	<script>
$(document).ready(function () {
    var persons = <%- JSON.stringify(results) %>; // Directly pass results array from EJS
    var classInfo = "<%= terminal %> Terminal Examination\n" +
                "Class: <%= studentClass %> (<%= section %>)\n" +
                "Subject: <%= subjectname %>";  // Extra newline for spacin
    $("#example").DataTable({
        data: persons,
        columns: [
            { data: "questionNo", title: "Question No" },
            { data: "wrong", title: "Wrong" },
            { data: "correct", title: "Correct" },
            { data: "notattempt", title: "Not Attempted" },
            { data: "correctabove50", title: "Correct Above 50%" },
            { data: "correctbelow50", title: "Correct Below 50%" },
            { 
                data: null, 
                title: "Wrong Percentage", 
                render: function (data, type, row) {
                    return (row.wrong / <%- totalStudent %> * 100).toFixed(2) + "%";
                }
            }
        ],
        dom: "Bfrtip",
        buttons: [
            {
                extend: "copy",
                messageTop: classInfo
            },
            {
                extend: "csv",
                messageTop: classInfo
            },
            {
                extend: "excel",
                messageTop: classInfo
            },
            {
                extend: "pdf",
                messageTop: classInfo
            },
            {
                extend: "print",
                messageTop: "<h3>" + classInfo + "</h3>"
            }
        ]
    });
});

</script>



    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/classperformance.css">
    <link rel="stylesheet" href="/nav.css">

    <style>
        .wholecontainer
        {
            display: none;
        }
    </style>
</head>
<body>

   <center> <div class="loader">
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/lqxfrxad.json"
            trigger="loop"
            state="loop-scale"
            style="width:250px;height:50px;">
        </lord-icon>Generating
    </div></center>
    
<div class="wholecontainer">

    <%- include('./partials/nav',{currentPage:'teacher'}) %>
    
    
    <center><h1 id="firstheading"><span style="color: #3307F8;">Class Performance </span><span id="firstspan">Summary</span></h1></center>
    <center><h3><span class="subheading">A system designed to analyze the performance of a student</span></h3></center><br>
<center><div class="subname" ><h6 style="color:#3307F8"><%= terminal %> Terminal Examination </h6>Subject:<%= subjectname %> <br>Class:<%=studentClass%> <br>Section:<%=section%></div></center><br><br>
<% if (results.length > 0) { %>
    <span class="max">Max No. of Wrong Question:&ensp;<b> <%= results[0].questionNo %>&ensp;(By:<%= results[0].wrong %>)</b><br></span>
<% } else { %>
    <span class="max">No data available</span><br>
<% } %>
<b>Total Student: <%=totalStudent%></b><a href="/totalStudent/<%=subjectname %>/<%=studentClass %>/<%=section %>/<%=terminal %>"><button id="totalstudent">See Student<i class="fa-solid fa-user" style="color: #3307F8;"></i></button></a></span><br></span> <br>



<span class="wrong">Wrong Percentage : <b><%=results[0].wrong/totalStudent*100%>%</b><br></span><br>


<hr><br>
<center><div class="search">
    <form action="/search/<%=subjectname %>/<%=studentClass %>/<%=section %>/<%=terminal %>" method="POST">
     
    <input type="number" id="searchroll" value="roll" name="roll" placeholder="&#xF002; Search By Roll" style="font-family:Arial, FontAwesome" />
   <input type="submit" value="search" id="submit"/>
</form></center>
</div> <br>
    <div class="analysiscontainer">
        <% if (results.length == 0) { %>
            <div class="subcol">
                <div id="math" class="subject"> <span class="spansubject" id="spanmath">No Data Available</span></div>
            </div> <%}%>
  <center>  <div class="tablecontainer">
 <span><%=terminal%> Terminal Examination%> <br>Class:<%=studentClass%>(<%=section%>) <br><%=subjectname%></span>
            <table border="1" cellspacing="0" cellpadding="0" id="example" class="display" style="width:100%">
                <tr>
                    <th>Question No</th>
                    <th>Wrong</th>
                    <th>Correct</th>
                    <th>Not Attempt</th>
                    <th>Correct above 50%</th>
                    <th>Correct below 50%</th>
                    <th>Wrong Percentage</th>
                </tr>
      <% results.forEach((result)=>
      { %>
            <tr>
                <td><%= result.questionNo %></td>
                <td><%= result.wrong %></td>
                <td><%= result.correct %></td>
                <td><%= result.notattempt %></td>
                <td><%= result.correctabove50 %></td>
                <td><%= result.correctbelow50 %></td>
                <td><%= result.wrong/totalStudent*100%>%</td>
            </tr>
            <%})%>
        </table></div></center>

        <table border="1" cellspacing="0" cellpadding="0" id="example" class="display" style="width:100%">
            <tr>
                <th>Question No</th>
                <th>Wrong</th>
                <th>Correct</th>
                <th>Not Attempt</th>
                <th>Correct above 50%</th>
                <th>Correct below 50%</th>
                <th>Wrong Percentage</th>
            </tr>
  <% results.forEach((result)=>
  { %>
        <tr>
            <td><%= result.questionNo %></td>
            <td><%= result.wrong %></td>
            <td><%= result.correct %></td>
            <td><%= result.notattempt %></td>
            <td><%= result.correctabove50 %></td>
            <td><%= result.correctbelow50 %></td>
            <td><%= result.wrong/totalStudent*100%>%</td>
        </tr>
        <%})%>
    </table></div></center>






<% results.forEach((result)=>
{ %>

        <div class="subcol">
            <div id="math" class="subject"> <center><div class="spansubject" id="spanmath"><%= result.questionNo %> </div></center> <br>
               
<span>No. of Wrong Answer: <%= result.wrong %> &ensp;<span><a href="/studentData/<%=subjectname %>/<%=studentClass %>/<%=section %>/<%=result.questionNo%>/incorrect/<%=terminal %>"><button id="wrongans">See Student<i class="fa-solid fa-user" style="color: #3307F8;"></i></button></a></span><br>
No. of Right Answer: <%= result.correct%> &ensp;&ensp;<span><a href="/studentData/<%=subjectname %>/<%=studentClass %>/<%=section %>/<%=result.questionNo%>/correct/<%=terminal %>"><button id="rightans">See Student&ensp;<i class="fa-solid fa-user" style="color: #3307F8;"></i></button></a></span><br>
Not Attempt:<%= result.notattempt %><span><a href="/studentData/<%=subjectname %>/<%=studentClass %>/<%=section %>/<%=result.questionNo%>/notattempt/<%=terminal %>"><button id="notattempt">See Student<i class="fa-solid fa-user" style="color: #3307F8;"></i></button></a></span><br> 
<span>Correct above 50%: <%= result.correctabove50 %> &ensp;<span><a href="/studentData/<%=subjectname %>/<%=studentClass %>/<%=section %>/<%=result.questionNo%>/correctabove50/<%=terminal %>"><button id="correctabove50">See Student<i class="fa-solid fa-user" style="color: #3307F8;"></i></button></a></span><br>
Correct below 50%: <%= result.correctbelow50 %> &ensp;<span><a href="/studentData/<%=subjectname %>/<%=studentClass %>/<%=section %>/<%=result.questionNo%>/correctbelow50/<%=terminal %>"><button id="correctbelow50">See Student<i class="fa-solid fa-user" style="color: #3307F8;"></i></button></a></span><br>
Wrong Percentage:<b><%=result.wrong/totalStudent*100%>%</b> <br>


</span> <br>

</div></div>
<%})%>
    </div>
</div>





   <script src="https://kit.fontawesome.com/368eb67b69.js" crossorigin="anonymous"></script> 
    <script>
   window.onload = function(){
    document.querySelector('.loader').style.display = "none";
    document.querySelector('.wholecontainer').style.display = "block";
   }
   </script> 

</body>
</html>