<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/nav.css">
    
</head>
<body>
    <%- include('./partials/nav',{currentPage:'home'}) %>
    <center><h1 id="firstheading">Answer Evaluation <span id="firstspan">System</span></h1></center>
    <center><h3><span class="subheading">A system designed to analyze the performance of a student</span></h3></center> 
    <br><br><center><div id="math" class="subject"> <div class="logo" id="logo1"><i class="fa-solid fa-clipboard" ></i></div><span class="spansubject" id="spanmath"><%= subjectname %></span></div></center><br><br>

    

    <form action="/forms/<%=subjectname%>/<%=studentClass%>/<%=section%>/<%=terminal%>" method="POST">

    
<div class="personal">
    <center><h1>Personal <span class="info" style="color: darkblue;">Info</span></h1></center> <br>
    <input type="text" name="name" id="name" placeholder="Name" required>
    <input type="roll" name="roll" id="roll" placeholder="Roll.No." required>
    <!-- <input type="number" name="studentClass" id="class" placeholder="Class" required> -->
     <input type="text" name="studentClass" id="studentClass" 
     value = "<%=studentClass%>" required>
     <input type="text" name="section" id="section" value="<%=section%>">
    <!-- <input type="section" name="section" id="section" placeholder="section" required> -->
   
    <input type="text" name="subject" id="subject" value = "<%= subjectname%>"required>
    <input type="text" name="terminal" id="terminal" 
    value ="<%= terminal%>"required>
   
</div><br><br><br> <hr> 
 
  
    <center><h1>Qustion <span class="info" style="color: darkblue;">Info</span></h1></center><br> 
<% question_list = ['a','b','c','d','e','f','g','h','i','j','k'] %>
<% let n %>
<% if(subjectname === "science")
{ n=4 } %>
<% if(subjectname === "Math")
{ n=4 } %>
<% if(subjectname === "Computer")
{ n=10} %>
<% if(subjectname === "Social")
{ n=4} %>
<% if(subjectname === "Health")
{ n=1} %>
<% if(subjectname === "English-I")
{ n=4} %>
<% if(subjectname === "English-II")
{ n=4} %>
<% if(subjectname === "Delight")
{ n=4} %>
<% if(subjectname === "OptMath")
{ n=4} %>
    <% for (let i = 1; i <= 25; i++){
        for(let j=1;j<=n;j++){%>
       
    <div class="questions">
    <span class="spanquestion">Question Number:</span> <span id="qno"> <b><%= i+question_list[j-1]%></span></b><br>
    <div class="optionsinfo">
    <div class="ansradio">
    <label for="correct<%= i+ question_list[j-1] %>" style="color: rgb(45, 224, 99);" class="clabel">correct</label>
    <input type="radio" id="correct<%= i+question_list[j-1] %>" value="correct" name="q<%= i+question_list[j-1] %>">
    </div>
    <div class="ansradio">
    <label for="incorrect<%= i+question_list[j-1] %>" style="color: rgb(224, 45, 45);" class="clabel">Incorrect</label>
    <input type="radio" id="incorrect<%= i+question_list[j-1] %>"  value="incorrect" name="q<%= i+question_list[j-1] %>" >
    </div>
<div class="ansradio">
    <label for="notattempt<%= i+question_list[j-1] %>" style="color:darkblue;" class="clabel">Not attempt</label>
    <input type="radio" id="notattempt<%= i+question_list[j-1] %>" value="notattempt" name="q<%= i+question_list[j-1] %>">
</div>
<div class="ansradio">
    <label for="cabv50<%= i+question_list[j-1] %>" style="color: rgb(3, 125, 60);" class="clabel">Correct above 50%</label>
    <input type="radio" id="cabv50<%= i+question_list[j-1] %>" value="correctabove50" name="q<%= i+question_list[j-1] %>">
</div>
<div class="ansradio">

    <label for="cblw50<%= i+question_list[j-1] %>" style="color: rgb(83, 184, 223);" class="clabel">Correct below 50%</label>
    <input type="radio" id="cblw50<%= i+question_list[j-1] %>" value="correctbelow50" name="q<%= i+question_list[j-1] %>">
</div>
</div><hr> <br><br>

</div>
<%}%>
<%}%>
   <center> <input type="submit" id="submit"></center>                                                                        
</form> <br><br>




    <script src="form.js"></script>
    <script src="https://kit.fontawesome.com/368eb67b69.js" crossorigin="anonymous"></script>
</body>
</html>