<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AES</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Alexandria:wght@100..900&family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alexandria:wght@100..900&family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap');
    </style>
</head>
<body>
  <header>
    <%- include('partials/nav',{currentPage:'home'}) %>
    <center><h1 id="firstheading">Answer Evaluation <span id="firstspan">System</span></h1></center></header>
   <center><h3><span class="subheading">A system designed to analyze the performance of a student</span></h3></center>
   
<div class="subjectcontainer">

<div class="subcol1">
  <% let n=94 %>
  <% subjects.forEach((sub)=>{%>
    
    <% if (sub.subject) { %>
     

  <a href="/forms/<%=sub.subject.trim()%>"><div id="<%=sub.subject.trim()%>" class="subject" style="background-color: #0620<%=n%>;"> <div class="logo" id="logo1"><script src="https://cdn.lordicon.com/lordicon.js"></script>
    <% n=n-1%>
    <lord-icon
        src="https://cdn.lordicon.com/xmaezqzk.json"
        trigger="morph"
        stroke="bold"
        state="morph-open"
        colors="primary:#121331,secondary:#110a5c"
        style="width:50px;height:70px;">
    </lord-icon></div><span class="spansubject" id="spanmath"><%=sub.subject.trim()%></span></div><br></a><% } %>
<%})%>

</div>
</div>
  <br>
<footer>
<hr style="background-color:darkblue; height: 3px; border: none;">
<div class="footer" style="background-color:darkblue">
<center><span style="color: white;">Designed & Developed by Ashraf Ali Miya | UEBS &reg;All right reserved</span></center>
</div>

</footer>



    <script src="index.js"></script>
    <script src="https://kit.fontawesome.com/368eb67b69.js" crossorigin="anonymous"></script>
</body>
</html>